---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Working on personal projects.',
    description:
      'Creating personal projects in which i translate my knowledge and skills in the different languages and frameworks that i know.',
    link: '#',
  },
  {
    date: 'February 2024 - April 2024',
    title: 'Frontend developer fron a Spanish mini-company.',
    description:
      "Responsible for developing the fronted of the company's website and that of its customers",
    link: '#',
  },
  {
    date: 'October 2023 - February 2024',
    title: 'Seller im the "El Infinito" gallery.',
    description: 'Seller and customer servise in an art gallery.',
    link: '#',
  },
  {
    date: 'March 2022 - September 2024',
    title: 'Student assistant of the university.',
    description: 'Assistant to the university professors to teach the classes.',
    link: '#',
  },
];
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map((exp) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
